<div class="header">
    <a href="#default" class="logo">CompanyLogo</a>
    <div class="header-right">
      <a [routerLink]="['/jayPage']" routerLinkActive="active">jayPage</a>
      
      <a [routerLink]="['/formValidation']" 
      routerLinkActive="active">formValidation</a>

      <a [routerLink]="['/NikunjParent']" routerLinkActive="active">NikunjParent</a>
    </div>
  </div>
  
  <div style="padding-left:20px">
    <h1>Responsive Header</h1>
    <p>Resize the browser window to see the effect.</p>
    <p>Some content..</p>
  </div>
